*{
    margin: 0;
}

html, body{
    overflow-x: hidden;
}

body.menu-open {
    overflow: hidden;  
}

/*---Header---------------------------------------------------------------------------------------------------------------------------------------*/

header{
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    padding: 1rem;
    position: fixed;
    z-index: 200;
    background-color: var(--c-bg-main);
    width: 100%;
    transition: all .3s ease;
    transition-delay: 150ms;
    transform: translateY(0);
    &.hidden-header{
        opacity: 0;
        transform: translateY(-100%);
    }

    img{
        height: 3rem;
        width: 16rem;
        display: flex;
        margin: auto;
    }


    .hoofdnavigatie {
        padding: 3.5rem 2.5rem;
        position: fixed;   
        top: 800%;
        left: 0;
        width: 100%;
        height: 100vh;

        transition: top 0.8s cubic-bezier(.22, 1, .36, 1); 

        overflow-y: auto;  
        background-color: var(--c-bg-main);
        z-index: 100;
        
        &.open{
            top: 0; 
        }
        
        ul {
            padding-left: 0;

            > li {
                display: grid;
                grid-template-columns: 1fr auto;
                justify-content: space-between;
                align-self: stretch;
                padding: 1rem;
                
                &:hover {
                    a, .menu-caret {
                        background-color: var(--c-text);
                        background-size: 100% 100%;
                        color: var(--c-bg-main);
                    }
                }

                > a {
                    padding: 1rem;
                    display: block;
                    color: inherit;
                    font-size: var(--fs-menu);
                    text-align: left;
                    text-wrap: none;

                    background-color: var(--c-bg-main);
                    background-image: var(--g-theme-text);
                    background-size: 0 100%;
                    background-repeat: no-repeat;

                    color: var(--c-text);
                    transition: .5s ease, color .5s ease;
                }

                > .menu-caret {
                    border: none;
                    background: transparent;
                    cursor: pointer;
                    text-align: right;
                    padding-right: 1rem;
                
                    svg {
                        width: 3rem;
                        transition: .5s ease, color .5s ease;
                        &.flipped{
                            transform: scaleY(-1);
                        }
                    }
                    
                }
            }
        }

        .menu-active{
            background-color: var(--c-text);
            color: var(--c-bg-main);
        }

        ul.submenu {
            max-height: 0;
            overflow: hidden;
            transition: max-height .5s ease;
            &.open{
                max-height: 999px;
            }
            > li,
            > li > a {
                background: none;
                color: inherit;
                background-image: none;
                font-size: var(--fs-p);
            }
            > li{
                background-image: var(--g-strong);
                background-color: var(--c-bg-main);
                color: var(--c-text);     
                background-size: 0 100%;
                background-repeat: no-repeat;
                transition: all .5s ease;
                padding: 0;
                &:hover{
                    background-size: 100% 100%;
                    color: var(--c-bg-main);
                } 
            }
        }
    }
}

.hoofdnavigatie-btn {
    background-color: var(--c-accent-main);
    color: var(--c-bg-main);
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 200;
    padding: 1.4rem 1.8rem;

    svg{
        height: 3.3rem;
        width: 3.4rem;
        stroke-width: 0.09rem;
    }
    @media (min-width:985px){
        display: none;
    }
}



/*---Main-----------------------------------------------------------------------------------------------------------------------------------------*/

main{
    padding: 2em;
    @media (min-width:770px) {
        padding: 3em;
    }
    @media (min-width:1200px) {
        max-width: 1500px;
        margin: auto;
    }
}

.article-section{
    h1{
        margin-top: 5rem;
        @media (min-width:770px) {
            margin-top: 7rem;
        }
        @media (min-width:1200px) {
            font-size: calc(var(--fs-h1) + 1rem);
        }
    }
    .article-card{
        position: relative;
        
        @media (min-width:770px) {
            display: flex;
            
            &:nth-child(odd) {
                flex-direction: row-reverse; 
                .article-text{
                    padding-left: 0;
                }
            }

            &:nth-child(even) {
                flex-direction: row; 
                .article-text{
                    padding-right: 0;
                }
            }

            .article-visual, .article-text {
                flex: 1;   
                flex: 0 0 50%;
                min-width: 0;
            }
            .article-text{
                box-sizing: border-box;
                padding: 2.2em;
            }
        }

        .article-visual{
            display: flex;
            justify-content: center;
            align-items: center;
            aspect-ratio: 16 / 9;

            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 100%;

            position: relative;
            &::after{
                content: '';
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
                background-color: var(--c-text);
                opacity: .2;
                transition: .3s ease-in-out all;
            }
            
            &.voetbal {background-image: url('../assets/images/voetbalinternational/voetbal-figure.webp');}
            &.lunar {background-image: url('../assets/images/lunar/lunar-figure.webp');}
            &.dushi {background-image: url('../assets/images/dushi/dushie-figure.webp');}
            &.munji {background-image: url('../assets/images/munji/munji-figure.webp');}
            &.jurriens {background-image: url('../assets/images/jurriens/jurriens-figure.webp');}
            &.eurid {background-image: url('../assets/images/eurid/eurid-figure.webp');}
            &.invest {background-image: url('../assets/images/invest/invest-figure.webp');}
            &.janshoeve {background-image: url('../assets/images/janshoeve/gerrit-Janshoeve-figure.png');}
            
            img{
                transition: all .3s ease-in-out;   
                height: 15rem;
                max-width: 70%;
                max-height: 70%;
                object-fit: contain;
            }
        }
        .article-text{
            text-wrap: balance;
            padding-top: 2.2em;
            padding-bottom: 2.2em;
            text-align: left;
            h2{
                @media (min-width:1200px) {
                    font-size: calc(var(--fs-h2) + 1rem);
                }
            }

            p{
                padding-top: 0.7em;
                padding-bottom: 0.7em;
                font-weight: var(--fw-light);
                @media (min-width:1200px) {
                    font-size: calc(var(--fs-p) + 0.3rem);
                }
            }

            .breakout-a{
                position: static;
                font-size: var(--fs-a-a);
                @media (min-width:1200px) {
                    font-size: calc(var(--fs-a-a) + 0.1rem);
                }
                &::before{
                    cursor: pointer;
                    content: '';
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%; /*groei tot de eerst beste container met relative absolute of fixed*/
                    z-index: 99;
                    .article-visual{
                        opacity: 1;
                    }
                }
                &::after{
                    content: url('../assets/icons/arrow-narrow-right-black.svg');
                    transition: transform 0.3s ease-in-out;
                }
                &:focus{
                    outline: none;
                }
            }   
        }
    }
}


.article-card:hover .article-visual::after {
    opacity: 0.1;
}


/*---Paginanavigatie------------------------------------------------------------------------------------------------------------------------------*/

.paginanavigatie{
    padding: 5rem 0 5rem 0;
    ol{
        display: flex;
        gap: 1rem;
        padding: 0;
        justify-content: flex-start;
    }
}

.paginanavigatie a{
    position: relative;
    padding: 1rem 2.2rem 0.5rem;
    font-size: var(--fs-a-a);
    color: var(--c-bg-main);
            
    &:hover{
        color: var(--c-brand-main);
    }
    &.next{
        padding-inline: 2.5rem;
    }
    svg{
        position: absolute;
        transform: translate(-40%, -15%) scale(1.3);
        stroke-width: 0.1rem;
    }
}

/*---Contact--------------------------------------------------------------------------------------------------------------------------------------*/

.contact-section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    
    a{
        font-size: var(--fs-p);
        white-space: nowrap;
        align-self: flex-start;
        color: var(--c-bg-main);
        &:hover{
            color: var(--c-brand-main);
        }
    }
    @media (min-width:770px) {
        flex-direction: row;
        a{
            align-self: flex-start;
        }
    }
    @media (min-width:850px) {
        h2{
            font-size: 2.8rem;
        }
    }

}

/*---Footer---------------------------------------------------------------------------------------------------------------------------------------*/

footer{
    padding: 5rem 5rem 24rem 2rem;
    width: 100%;
    background-color: var(--c-bg-accent);
    background-image: url('../assets/icons/footer-wave.svg');
    background-repeat: no-repeat; 
    background-size: 700vw 1.3vw; 
    
    display: grid;
    gap: 4rem;
    justify-content: center;
    grid-template-columns: 1fr;

    @media (min-width:770px) {
        grid-template-columns: repeat(2, max-content);
        gap: 10rem;
    }
    @media (min-width:850px) {
        grid-template-columns: repeat(3, 1fr);
        padding-bottom: 19rem;
    }
    @media (min-width:985px) {
        padding-bottom: 14rem;
    }
    @media (min-width:1200px) {
        grid-template-columns: repeat(3, max-content);
        padding-left: 0;
        margin: auto;
    }

    section{
        margin-top: 5rem;

        &.bedrijf-info-section address{
            font-style: normal;
            font-size: var(--fs-p);
            font-family: var(--font-base);
            display: flex;
            flex-direction: column;
            line-height: var(--lh-body);
            padding-bottom: 0.5rem;
        }

        &.diensten-section ul{
            padding: 0;
        }

        &.informatie-section{
            padding-bottom: 4em;
            nav{
                ul{padding: 0;}
            }
            button{
                margin-top: 2rem;
                border: none;
                background: none;
                font-size: var(--fs-p);
            }
        }
    }
}

.lower-footer{
    background-color: var(--c-brand-main);
    padding: 2rem 2rem 7rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
      "item1"
      "item2"
      "item3"
    ;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    transform: translateY(100%);
    opacity: 0;
    transition: .5s ease, color .5s ease;

    h3{
        color: var(--c-bg-main);
        grid-area: item1;
        margin-right: 1rem;
        margin-bottom: 1rem;
        transform: translateY(30%);
    }
    form{
        display: flex;
        flex-direction: column;
        grid-area: item2;
        justify-content: center;
    }
    button{
        margin-top: 0.5rem;
        background-color: var(--c-bg-main);
        font-size: var(--fs-a-a);
        grid-area: item3;
    }

    &.footer-scroll{
       opacity: 1;
       transform: translateY(0);
    }
    @media (min-width:850px) {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
            "item1 item1"
            "item2 item3"
        ;
        button{
            margin-top: 0rem;
        }
    }
    @media (min-width:985px) {
        grid-template-columns: repeat(3, max-content);
        grid-template-areas: "item1 item2 item3";
        padding-bottom: 2rem; 
    }

    @media (min-width:1200px) {
        justify-content: center;
       h3{
        padding-right: 10rem;
       }
    }

}

