/*test voor klikable article*/

.article-card{
    position: relative
}

.breakout-a{
    position: static;
    &::before{
        cursor: pointer;
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;/*groei tot de eerst beste container met relative absolute of fixed*/
    }
    &:focus{
        outline: none;
    }
}