* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}


@font-face {
    font-family: 'HindGuntur';
    src: url('../assets/fonts/HindGuntur-Light.ttf') format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: 'HindGuntur';
    src: url('../assets/fonts/HindGuntur-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'HindGuntur';
    src: url('../assets/fonts/HindGuntur-Bold.ttf') format('truetype');
    font-weight: 700;
}

@layer styleguide {
    :root {
        /* Variabelen Kleuren */
        --c-brand-main: #e2655e;
        --c-brand-soft: #f7cdd5;

        --c-accent-main: #281ce2;
        --c-accent-soft: #eef9fd;

        --c-text: #000;
        --c-bg-main: #fff;
        --c-bg-accent: #abb8c3;
        --c-bg-search:#e6e6e6;
        
        /* Variabelen Typografie */
        --font-base: 'HindGuntur', sans-serif;

        --fs-h1: clamp(2.75rem, 6vw, 4.6rem);
        --fs-h2: clamp(2rem, 4vw, 3.25rem);
        --fs-h3: clamp(2.1rem, 3.5vw, 2.55rem);
        --fs-p: clamp(1.35rem, 2vw, 1.46rem);
        
        --fw-light: 300;
        --fw-medium: 400;
        --fw-bold: 700;

        --lh-heading: 1.15;
        --lh-body: 1.5;
        --lh-link: 1; 

        /* gradients*/
        --g-soft:linear-gradient(transparent 14%,var(--c-brand-soft) 15%,var(--c-brand-soft) 69%,transparent 70%);
        --g-strong: linear-gradient(transparent 14%,var(--c-brand-main) 15%,var(--c-brand-main) 69%,transparent 70%);
        --g-heading:linear-gradient(transparent 14%,var(--c-text) 15%,var(--c-text) 69%,transparent 70%);

        --g-theme-main:linear-gradient(transparent 0,var(--c-brand-soft) 0,var(--c-brand-soft) 100%,transparent 100%);
        --g-theme-accent:linear-gradient(transparent 0,var(--c-accent-soft) 0,var(--c-accent-soft) 100%,transparent 100%);
        --g-theme-text:linear-gradient(transparent 0,var(--c-text) 0,var(--c-text) 100%,transparent 100%);    
    }

    /*---- kleuren themas----*/
    .color-1{
        background-color: #e2655e;
    }
    .color-2{
        background-color: #f7cdd5;
    }
    .color-3{
        background-color: #281ce2;
    }
    .color-4{
        background-color: #eef9fd;
    }
    .color-5{
        background-color: #000;
    }
    .color-6{
        background-color: #fff;
    }
    .color-7{
        background-color: #abb8c3;
    }


    .theme-main {
        background-image: var(--g-theme-main);
        background-color: var(--c-brand-main);
        color: var(--c-brand-soft);    
        &:hover{
            background-color: var(--c-brand-soft);
            color: var(--c-brand-main);  
        }
        /*focus is default*/      
    }

    .theme-main-reversed {
        background-image: var(--g-theme-main);
        background-color: var(--c-bg);
        color: var(--c-brand-main);    
        &:hover{
            background-color: var(--g-strong);
            color: var(--c-brand-main);  
        }
        /*focus is default*/      
    }

    .theme-accent {
        background-image: var(--g-theme-accent);
        background-color: var(--c-accent-main);
        color: var(--c-accent-soft);
        &:hover{
            background-color: var(--c-accent-soft);
            color: var(--c-accent-main);
        }
        /*focus is default*/   
    }

    .theme-text {
        background-image: var(--g-theme-text);
        background-color: var(--c-bg-main);
        color: var(--c-text);
        &:hover{
            background-color: var(--c-text);
            color: var(--c-bg-main);
        }
        /*focus is default*/   
    }
    
    /*---- Typografie ----*/
    h1,
    h2,
    h3{
        font-family: var(--font-base);
        color: var(--c-text);
    }

    h1 {
        line-height: var(--lh-heading);
        font-size: var(--fs-h1);
        font-weight: var(--fw-medium);
    }

    h2 {
        line-height: var(--lh-heading);
        font-size: var(--fs-h2);
        font-weight: var(--fw-light);
    }

    h3 {
        line-height: var(--lh-heading);
        font-size: var(--fs-h3);
        font-weight: var(--fw-medium);
    }

    p {
        line-height: var(--lh-body);
        font-size: var(--fs-p);
        font-family: var(--font-base);
        font-weight: var(--fw-medium);
    }

    strong {
        font-weight: var(--fw-bold);
    }

    mark{
        color: var(--c-text);
        background-color: var(--c-bg-main);
        background-color: transparent;
        background-image: var(--g-heading);
        background-size: 0 100%;
        transition: .5s ease;
        background-repeat: no-repeat;
        &:hover{
            background-size: 100% 100%;
            color: var(--c-bg-main);
        }
    }

    /*---- list styling ----*/
    ul, ol{
        list-style: none;
    }
     
    li{
        text-decoration: none;
    }

    /*---- Formulier styling ----*/
    /*---- Firefox ondersteunt nog geen :has dus gebruik ik ook een class beetje stom maar wil graag leren ----*/
    form:has(input[type="search"]) {}

    form:has(input[type="email"]) {}

    .zoek-form{
        background-color: var(--c-bg-search);
        overflow: hidden;
        font-family: var(--font-base);
        display: flex;
        justify-content: space-between;
        position: relative;
        border: 1px solid var(--c-bg-search);
        padding: 1.5em 2em 0.5em 2em;

        &:focus-within{
            border: 1px solid var(--c-accent-main);
            outline: 0;
        }
        label {
            display: flex;
            cursor: text;
        }

        input[type="search"]{
            border: none;
            width: 100%;
            border: none;
            background: transparent;
            cursor: text;
            font-size: var(--fs-p);
            font-family: var(--font-base);
            &:focus-within{
                border: 1px solid var(--c-bg-search);
                outline: 0;
            }
        }

        button{
            background: transparent;
            transform: rotate(90deg);
            border: none;
            cursor: pointer;
            transition: all .3s ease-in-out;
            padding-right: 1em;
            &:hover{
                color: red;
            }
            svg{
                width: 2.5em;
                height: 2.5em;
            }
        }
    }

    .inschrijven-form{
        background-color: var(--c-bg-main);
        overflow: hidden;
        display: flex;
        justify-content: space-between;
        position: relative;
        border: none;

        label{
            display: flex;
            cursor: text;
        }

        input[type="email"] {
            border: none;
            width: 100%;
            border: none;
            cursor: text;
            padding: 1em 2em 0.5em 1em;
            font-family: var(--font-base);
            font-size: var(--fs-p);
            outline: 0;
        }

        button{
            white-space: nowrap;
        }
    }

    /*---- Knoppen styling ----*/

    .btn {
        text-transform: lowercase;
        text-decoration: none;
        font-family: var(--font-base);
        font-weight: var(--fw-bold);
        font-size: var(--fs-p-s);
        line-height: var(--lh-link);
        border: 0;
        cursor: pointer;
        
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 1.06em 1.67em 0.7em 1.67em;

        background-size: 0 100%;
        background-repeat: no-repeat;
        transition: .5s ease;
        width: fit-content;
        &:hover, &:focus{
            background-size: 100% 100%;
            /*color: var(--c-brand-main);*/
        }
    }

    /*---- navigatie ----*/
    nav .hoofdnavigatie{
        &:hover {}
        &:focus{}
        &:visited{}
        &:active{}

        svg{
            &:hover {}
        }
    }

    nav .paginanavigatie{
        &:hover {}
        &:focus{}
        &:visited{}
        &:active{}
    }

    nav .footernavigatie{
        &:hover {}
        &:focus{}
        &:visited{}
        &:active{} 
    }

    /*---- Linkjes styling ----*/

    a{
        text-decoration: none;
        color: var(--c-text);
        font-family: var(--font-base);
        font-size: var(--fs-p);
    }

    .link {
        background-image: var(--g-strong);
        background-repeat: no-repeat;
        transition: .5s ease;
        background-size: 0% 100%;
        color: var(--c-brand-main);
        &:hover, &:focus{
            background-size: 100% 100%;
            color: var(--c-bg-main);
        }
    }

    .footer-link {
        background-image: var(--g-soft);
        background-repeat: no-repeat;
        transition: .5s ease;
        background-size: 0% 100%;
        color: var(--c-text);

        &:hover {
            background-size: 100% 100%;
        }
    }

    .onderstreept{
        text-decoration: underline;
    }

    /*---- utility classes gaat nog veranderen----*/ 

    .visable{visibility: visible;}
    .invisable{visibility: hidden;}

    /**/
    .opacity-0{opacity: 0;}
    .opacity-1{opacity: 1;}

    /**/ 
    .absolute{position: absolute;}
    .relative{position: relative}

    /**/
    .block{display: block;}
    .inline{display: inline;}
    .hidden{display: none;}
}

