header{
    a{
        img{}
    }
    button{
        svg{}
        .menu-open-btn{}
        .menu-close-btn{}
    }
    .hoofdnavigatie{
        form{
            label{
                span{}
                input{}
            }
            button{
                svg{}
            }
        }
        ul{
            li{
                a{}
            }

            li{
                a{}
                button{}
                ul{
                    li{
                        a{}
                    }
                }
            }
        }
    }
}

.article-section{
    .article-card{
        position: relative;
        .article-visual{
            background-repeat: no-repeat;
            &.voetbal {background-image: url('../assets/images/voetbalinternational/voetbal-figure.webp');}
            &.lunar {background-image: url('../assets/images/lunar/lunar-figure.webp');}
            &.dushi {background-image: url('../assets/images/dushi/dushie-figure.webp');}
            &.munji {background-image: url('../assets/images/munji/munji-figure.webp');}
            &.jurriens {background-image: url('../assets/images/jurriens/jurriens-figure.webp');}
            &.eurid {background-image: url('../assets/images/eurid/eurid-figure.webp');}
            &.invest {background-image: url('../assets/images/invest/invest-figure.webp');}
            &.janshoeve {background-image: url('../assets/images/janshoeve/gerrit-Janshoeve-figure.png');}
            
            img{}
        }
        .article-text{
            h2{}
            p{}
            a{}
            .breakout-a{
                position: static;
                &::before{
                    cursor: pointer;
                    content: '';
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;/*groei tot de eerst beste container met relative absolute of fixed*/
                }
                &:focus{
                    outline: none;
                }
            }   
        }
    }
}

.paginanavigatie{
    ol{
        li{
            a{}
        }
    }
}

.contact-section{
    h2{}
    a{}
}

footer{
    .upper-footer{
        .bedrijf-info-section{
            h3{}
            address{}
            a{}
        }
        .diensten-section{
            nav{
                ul{
                    li{
                        a{}
                    }
                }
            }
        }
        .informatie-section{
            h3{}
            nav{
                ul{
                    li{
                        a{}
                    }
                }
            }
            button{}
        }
    }
    .lower-footer{
        h3{}
        form{
            label{
                span{}
            }
            input{}
            button{}
        }
    }
}