*{
    margin: 0;
}

html, body{
    overflow-x: hidden;
}

body.menu-open {
    overflow: hidden;  
}

header{
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    padding: 1rem;
    position: fixed;
    z-index: 200;
    background-color: var(--c-bg-main);
    width: 100%;
    transition: transform 0.4s cubic-bezier(.4,0,.2,1), opacity 1s;
    transition-delay: 150ms;
    transform: translateY(0);
    &.hidden-header{
        opacity: 0;
        transform: translateY(-100%);
    }

    img{
        height: 3rem;
        width: 16rem;
        display: flex;
        margin: auto;
    }


    .hoofdnavigatie {
        padding: 3.5rem 1.5rem;
        position: fixed;   
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;     
        overflow-y: auto;  
        background-color: var(--c-bg-main);
        z-index: 100;
        transition: transform 0.4s cubic-bezier(.4,0,.2,1), opacity 1s;
        transition-delay: 150ms;

        &.hmenu-open{
        }
        
        ul {
            padding-left: 0;
        }

        > ul > li {
            width: 100%;
            margin-top: 1rem;
            padding: 1rem;
            position: relative;
            text-align: left;
            text-wrap: none;

            background-color: var(--c-bg-main);
            background-image: var(--g-theme-text);
            background-size: 0 100%;
            background-repeat: no-repeat;

            color: var(--c-text);
            transition: .5s ease, color .5s ease;

            &:hover{
                background-color: var(--c-text);
                background-size: 100% 100%;
                color: var(--c-bg-main);
            }
        }


        a {
            display: block;
            color: inherit;
            font-size: var(--fs-menu);
        }

        .has-submenu {
            display: grid;
            grid-template-columns: 1fr auto;
            align-items: center;
        }

        .menu-caret {
            border: none;
            background: transparent;
            display: flex;
            align-items: center;
            cursor: pointer;
            color: inherit;
            transition: .5s ease, color .5s ease;;

            svg {
            width: 3rem;
            }
            &.flipped{
                transform: scaleY(-1);
            }
        }

        li:hover {
            a,
            .menu-caret {
            color: var(--c-bg-main);
            }
        }

        .menu-active{
            background-color: var(--c-text);
            color: var(--c-bg-main);
        }
    }
}

.hoofdnavigatie-btn {
    background-color: var(--c-accent-main);
    color: var(--c-bg-main);
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 200;
    padding: 1.4rem 1.8rem;

    svg{
        height: 3.3rem;
        width: 3.4rem;
        stroke-width: 0.09rem;
    }
}


.article-section{
    padding: 2em;
    h1{
        margin-top: 5rem;
    }
    .article-card{
        position: relative;
        @media (min-width:520px) {
            
        }
        @media (min-width:770px) {
            display: flex;
        }
        .article-visual{
            display: flex;
            justify-content: center;
            align-items: center;
            aspect-ratio: 16 / 9;

            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 100%;
            
            &.voetbal {background-image: url('../assets/images/voetbalinternational/voetbal-figure.webp');}
            &.lunar {background-image: url('../assets/images/lunar/lunar-figure.webp');}
            &.dushi {background-image: url('../assets/images/dushi/dushie-figure.webp');}
            &.munji {background-image: url('../assets/images/munji/munji-figure.webp');}
            &.jurriens {background-image: url('../assets/images/jurriens/jurriens-figure.webp');}
            &.eurid {background-image: url('../assets/images/eurid/eurid-figure.webp');}
            &.invest {background-image: url('../assets/images/invest/invest-figure.webp');}
            &.janshoeve {background-image: url('../assets/images/janshoeve/gerrit-Janshoeve-figure.png');}
            
            img{
                transition: all .3s ease-in-out;   
                height: 15rem;
                max-width: 70%;
                max-height: 70%;
                object-fit: contain;
            }
            .article-card:hover .article-visual{
               
            }
        }
        .article-text{
            text-wrap: balance;
            padding-top: 2.2em;
            padding-bottom: 2.2em;
            p{
                padding-top: 0.7em;
                padding-bottom: 0.7em;
            }

            .breakout-a{
                position: static;
                font-size: var(--fs-a-a);
                &::before{
                    cursor: pointer;
                    content: '';
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;/*groei tot de eerst beste container met relative absolute of fixed*/
                    z-index: 99;
                }
                &::after{
                    content: url('../assets/icons/pijltjeleesmeer.png');
                    position: absolute;
                    left: 5.5em;
                    bottom: 1.6em;
                    transition: all ease-in-out .3s;
                }
                .article-card:hover &::after {
                    left: 28%;
                }
                &:focus{
                    outline: none;
                }
            }   
        }
    }
}

.paginanavigatie{
    margin-top: 5rem;
    margin-bottom: 5rem;
    overflow: hidden;
    ol{
        display: flex;
        gap: 1rem;
        justify-content: flex-start;
        text-align: left;
        padding: 0; 
        font-size: var(--fs-a-a);
        li a.next{
            position: relative;
            &::after{
                content: url('../assets/icons/next.svg');
                position: absolute;
                transform: translate(-50%, -50%);
                top: 55%;
                left: 50%;
            }
        }

    }
}

.contact-section{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    a{
        font-size: var(--fs-p);
    }
}

footer{
    padding: 2rem;
    position: relative;
    background-color: var(--c-bg-accent);
    /*
    background-image: url('../assets/icons/footerwave.png');
    background-repeat: no-repeat; 
    background-size: 1200% auto;
    */
    /*
    &::before{
    content: url('../assets/icons/footerwave.png');
    position: absolute;
    top: -3%;
    left: 0;
    background-color: var(--c-bg-accent);
    }
    */
    
    .upper-footer{
        margin: 3.5rem auto 23rem auto;

        @media (min-width:770px) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 10rem;
        }
        @media (min-width:850px) {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
        }
        .bedrijf-info-section{
            margin-top: 2rem;
            address{
                font-style: normal;
                font-size: var(--fs-p);
                font-family: var(--font-base);
                display: flex;
                flex-direction: column;
                line-height: var(--lh-body);
                padding-bottom: 0.5rem;
            }
        }
        .diensten-section{
            margin-top: 2rem;
            ul{
                padding: 0;
            }
        }
        .informatie-section{
            margin-top: 2rem;
            margin-bottom: 4rem;
            nav{
                ul{
                    padding: 0;
                    li{
                        a{}
                    }
                }
            }
            button{
                margin-top: 2rem;
                border: none;
                background: none;
                font-size: var(--fs-p);
            }
        }
    }
}

.lower-footer{
    background-color: var(--c-brand-main);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    padding-bottom: 7rem;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    transform: translateY(100%);
    opacity: 0;
    transition: .5s ease, color .5s ease;
    h3{
        color: var(--c-bg-main);
    }
    form{
        display: flex;
        flex-direction: column;
        label{
            span{}
        }

    }
    button{
        margin-left: auto;
        margin-top: 0.5rem;
        background-color: var(--c-bg-main);
        font-size: var(--fs-a-a);
    }
    &.footer-scroll{
       opacity: 1;
       transform: translateY(0);
    }
}
