.terug{
    padding: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
p{
    font-size: 5rem;
    text-align: center;
}
a{
    align-self: center;
    font-size: 10rem;
    padding: 5rem;
}